.links {
	background-color: $green-light;
}

.links-wrap {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.btn-link {
	display: inline-block;
	color: $white;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: relative;
}




// BRACKETS

.btn-link-01 {

	&::before,
	&::after {
		position: absolute;
		top: -2px;
		opacity: 0;
		transition: transform .3s, opacity .2s;
		}

	&::before {
		content: '[';
		transform: translateX(20px);
		left: -15px;
	}

	&::after {
		content: ']';
		transform: translateX(-20px);
		right: -15px;
	}

	&:hover {

		&::after, &::before {
			opacity: 1;
			transform: translateX(0);
		}

	}
}