// File for scss-vars.
// For example: main colors, paddings and so on.


$red: #c1121c;
$yellow: #fcd04b;
$green: #BF5940;
$white: #fff;
$purple: #E0A3C7;

$lato: 'Lato-Semibold', Helvetica, Arial, sans-serif;
