// File for scss-vars.
// For example: main colors, paddings and so on.


$red: #c1121c;
$yellow: #fcbc33;
$green: #82ca9c;
$white: #fff;
$purple: #9e54bd;

$lato: 'Lato-Semibold', Helvetica, Arial, sans-serif;
