<section class="all-buttons buttons-1">
	<div class="inner">
		<h1>Hover effects on buttons</h1>

		<div class="buttons">
			<div class="buttons__item">
				<a class="btn btn-white btn-1" href="#!">Button</a>
			</div>
			<div class="buttons__item">
				<a class="btn btn-white btn-2" href="#!">Button</a>
			</div>
			<div class="buttons__item">
				<a class="btn btn-white btn-3" href="#!">Button</a>
			</div>
		</div>

		<div class="buttons">
			<div class="buttons__item">
				<a class="btn btn-white btn-4" href="#!">Button</a>
			</div>
			<div class="buttons__item">
				<a class="btn btn-white btn-5" href="#!">Button</a>
			</div>
			<div class="buttons__item">
				<a class="btn btn-white btn-6" href="#!">Button</a>
			</div>
		</div>

		<div class="buttons">
			<div class="buttons__item">
				<a class="btn btn-white btn-7" href="#!">Button</a>
			</div>
			<div class="buttons__item">
				<a class="btn btn-white btn-8" href="#!">Button</a>
			</div>
			<div class="buttons__item">
				<a class="btn btn-white btn-9" href="#!">Button</a>
			</div>
		</div>

		<div class="buttons">
			<div class="buttons__item">
				<a class="btn btn-white btn-10" href="#!">Button</a>
			</div>
			<div class="buttons__item">
				<a class="btn btn-white btn-11" href="#!">Button</a>
			</div>
			<div class="buttons__item">
				<a class="btn btn-white btn-12" href="#!">Button</a>
			</div>
		</div>

		<div class="buttons">
			<div class="buttons__item">
				<a class="btn btn-white btn-13" href="#!">Button</a>
			</div>
			<div class="buttons__item">
				<a class="btn btn-white btn-14" href="#!">Button</a>
			</div>
			<div class="buttons__item">
				<a class="btn btn-white btn-15" href="#!">Button</a>
			</div>
		</div>

		<div class="buttons">
			<div class="buttons__item">
				<a class="btn btn-white btn-16" href="#!">Button</a>
			</div>
			<div class="buttons__item">
				<a class="btn btn-white btn-17" href="#!">Button</a>
			</div>
			<div class="buttons__item">
				<a class="btn btn-white btn-18" href="#!">Button</a>
			</div>
		</div>

	</div>
</section>

<section class="all-buttons buttons-2">
	<div class="inner">
		<h1>Hover effects on buttons with icons</h1>

		<div class="buttons">
			<div class="buttons__item">
				<a class="btn btn-yellow btn-16" href="#!">Button</a>
			</div>
			<div class="buttons__item">
				<a class="btn btn-white btn-17" href="#!">Button</a>
			</div>
			<div class="buttons__item">
				<a class="btn btn-white btn-18" href="#!">Button</a>
			</div>
		</div>

	</div>
</section>